<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Electron Bible</a>
		</div>
		<div class="collapse navbar-collapse">
			{{#if volumes}}
			<div class="btn-group volume-select-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{volume}} <span class="caret"></span></button>
				<ul class="dropdown-menu">
					{{#each volumes}}
					<li><a href="#" id="{{dam_id}}" class="volume-select">{{version_english}} - {{collection_name}}</a></li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
			<form class="navbar-form navbar-right" role="search" id="search-form">
				<div class="form-group">
					<input type="search" class="form-control" placeholder="Search" id="search-text">
				</div>
			</form>
		</div>
	</div>
</nav>

{{#if books}}
	<div class="btn-group btn-group-xs" role="group">
	{{#each books}}
		<button type="button" class="book-link btn btn-default{{#if (isEqual ../bookId book_id)}} active{{/if}}" id="{{book_id}}">{{book_name}}</button>
{{!-- 		<li><a class="book-link{{#if (isEqual ../bookId book_id)}} selected {{/if}}" href="#" id="{{book_id}}" >{{book_name}}</a></li> --}}
		{{/each}}
	</div>
{{/if}}

{{#if verses}}
	{{#each verses}}
		{{#if book}}<h2>{{book}}</h2>{{/if}}
		{{#if chapter}}<h3>{{chapter}}</h3>{{/if}}
		<span class="verse-id">{{id}}</span>
		<span class="verse-text">{{text}}</span>
	{{/each}}
{{/if}}

{{!-- #if loading}}<p class="loading">Loading...</p>{{/if --}}
