<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Electron Bible</a>
		</div>
		<div class="collapse navbar-collapse">
			{{#if volumes}}
			<div class="btn-group volume-select-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{volume}} <span class="caret"></span></button>
				<ul class="dropdown-menu">
					{{#each volumes}}
					<li><a href="#" id="{{dam_id}}" class="volume-select">{{version_english}} - {{collection_name}}</a></li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
			<form class="navbar-form navbar-right" role="search" id="search-form">
				<div class="form-group">
					<input type="search" class="form-control" placeholder="Search" id="search-text" value="{{searchText}}">
				</div>
			</form>
		</div>
	</div>
</nav>

{{#if loading}}
	<p class="loading">Searching...</p>

{{else}}
	<h2>Search Results</h2>
	<div class="pull-right search-nav">
		{{#if results}} Total results: {{results.total}}{{/if}}
		<button class="btn btn-primary" id="back">Go Back</button>
	</div>
	<div class="search-results">
	{{#if results.hasResults}}
		{{#each results.results}}
			<div class="search-result">
				<div class="search-ref">
					{{book_name}} {{chapter_id}}:{{verse_id}}
				</div>
				<div class="search-verse">{{verse_text}}</div>
			</div>
		{{/each}}
	{{else}}
		<p class="no-results">No results returned.</p>
	{{/if}}
	</div>
{{/if}}

