{{#if loading}}
	<p class="loading">Searching...</p>

{{else}}
	<h2>Search Results</h2>
	<div class="pull-right search-nav">
		{{#if results}} Total results: {{results.total}}{{/if}}
		<button class="btn btn-primary" id="back">Go Back</button>
	</div>
	<div class="search-results">
	{{#if results.hasResults}}
		{{#each results.results}}
			<div class="search-result">
				<div class="search-ref">
					{{book_name}} {{chapter_id}}:{{verse_id}}
				</div>
				<div class="search-verse">{{verse_text}}</div>
			</div>
		{{/each}}
	{{else}}
		<p class="no-results">No results returned.</p>
	{{/if}}
	</div>
{{/if}}

